@model IEnumerable<dudegomvc.Models.TbInvoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBranchNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCustomerNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSalespersonNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdBranchNavigation.IdBranch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCustomerNavigation.IdCustomer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSalespersonNavigation.IdSalesperson)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdInvoice">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdInvoice">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdInvoice">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
