@model IEnumerable<dudegomvc.Models.TbCustomer>

@{
    ViewData["Title"] = "Index";

     }

<div class="ContainerC flex flex-column">

    <div class=" flex flex-column SectionOne mt-6 items-center">
        <div class="text-5xl text-center"><span>Clientes <span class="font-bold text-green-600">DudeGo</span></span></div>
      <div class="mt-1"><span text-gray>Puedes agregar un nuevo cliente</span></div>
        <div class=""><span text-gray>precionando el boton "Agregar"</span></div>

        <a asp-action="Create"><div class="rounded-xl bg-green-800 text-white text-lg w-32 h-10 text-center content-center mt-6">Agregar</div></a>
    </div>

    <div class="SectionTwo mt-12">

        <table id="TableCustomers" class="display table-auto mx-auto text-center">
            <thead class="bg-gray-200">
                <tr>
                    <th class="p-2 text-center">
                        Dui cliente
                    </th>
                    <th class="p-2 text-center">
                        Licencia
                    </th>
                    <th class="p-2 text-center">
                        Cliente
                    </th>
                    <th class="p-2 text-center">
                        Telefono
                    </th>
                    <th class="p-2 text-center">
                        Direccion
                    </th>
                    <th class="p-2 text-center">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr border-t border-gray-200>
                        <td class="p-2">
                            @Html.DisplayFor(modelItem => item.DuiCustomer)
                        </td>
                        <td class="p-2">
                            @Html.DisplayFor(modelItem => item.DrivingLic)
                        </td>
                        <td class="p-2">
                            @Html.DisplayFor(modelItem => item.NameCustomer)
                        </td>
                        <td class="p-2">
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td class="p-2">
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdCustomer"><i class="fa-solid fa-pen text-green-600"></i></a> 
                            <a asp-action="Delete" asp-route-id="@item.IdCustomer"><i class="fa-solid fa-user-xmark text-green-600"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

