@model dudegomvc.Models.TbInvoiceDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbInvoiceDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalDeposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalDeposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCarNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCarNavigation.IdCar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInvoiceNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdInvoiceNavigation.IdInvoice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdInvoiceDetails">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
