@model IEnumerable<dudegomvc.Models.TbSalesperson>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameSalesperson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeSalesperson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameSalesperson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeSalesperson)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSalesperson">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSalesperson">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSalesperson">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
